@using System.Web.Mvc.Html
@using Microsoft.AspNet.Identity
@using TaskManager.Common.Extensions
@using TaskManager.Data.Contracts.Extensions
@using TaskManager.Web.Helpers
@using TaskManager.Logic.Contracts.Enums
<!DOCTYPE html>
<html ng-app="TaskManagerApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title ng-bind="$root.title != null ? $root.title + ' - Enote' : 'Enote'">Enote</title>
    <link rel="icon" type="image/x-icon" href="/Content/images/logo_64.png">
    @Styles.Render("~/Content/Common")
    @Scripts.Render("~/Scripts/Common")
    <style type="text/css">
        .main.menu .item img.logo {
            margin-right: 1.5em;
        }
        .main.container {
            margin-top: 1em;
        }
    </style>
    <script type="text/javascript">
        var UserId = '@IdentityExtensions1.GetUserId(User.Identity)';
        var UserName = '@User.Identity.GetUserName()';
        var TaskPriorityNames = @Html.Raw(JsonExtension.SerializeObject(EnumExtensions.EnumToDictionary<TaskPriorityEnum>()));
        var TaskStatusNames = @Html.Raw(JsonExtension.SerializeObject(EnumExtensions.EnumToDictionary<TaskStatusEnum>()));
        var AlarmRepeatNames = @Html.Raw(JsonExtension.SerializeObject(EnumExtensions.EnumToDictionary<AlarmRepeatEnum>()));
        var ImageExtensions = @Html.Raw(JsonExtension.SerializeObject(MimeTypeHelper.GetLightGalleryExtensions()));
    </script>
</head>
<body class="night-mode">
    @if (Request.IsAuthenticated) {
        <div class="ui stackable fixed inverted block main menu" ng-controller="MenuController">
            <div class="ui stretched container">
                <a ng-class="isActive('/')" href="/" class="header item">
                    <img class="logo mobile hidden" src="/content/images/logo_64.png">
                    Overview
                </a>
                <a ng-class="isActive('/projects')" href="/projects" class="item">Projects</a>
                <a ng-class="isActive('/company')" href="/company" class="item">Company</a>
                <div class="ui simple dropdown item">
                    Reports <i class="dropdown icon"></i>
                    <div class="menu">
                        <a ng-class="isActive('/report_single')" class="item" href="/report_single">One Day</a>
                        <a ng-class="isActive('/report_period')" class="item" href="/report_period">Period</a>
                    </div>
                </div>
                <div class="ui stackable inverted right block menu">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "item" })) {
                        @Html.AntiForgeryToken()
                        <a href="#" onclick="$('#logoutForm').submit();">Log off</a>
                    }
                    <a ng-class="isActive('/profile')" class="item" href="/profile">@User.Identity.GetUserName()</a>
                    <a ng-class="isActive('/alarms')" href="/alarms" class="alarm item">
                        <i class="icons">
                            <img class="ui mini image" src="/content/images/calendar.png">
                            <span class="alarm-label icon" id="alarm-label">{{Model.Title}}</span>
                            <i class="spinner black loading icon" ng-show="Loading"></i>
                        </i>
                    </a>
                </div>
            </div>
            <div id="calendar-popup" class="ui fluid popup transition hidden">
                <div class="ui divided items">
                    <div ng-repeat="alarm in Model.Alarms" class="item">
                        <div class="ui header">
                            <span>{{::alarm.DateMoment.format("MM/DD/YYYY")}} {{::alarm.Title}}<i class="blue birthday icon" ng-show="::alarm.Birthday"></i></span>
                            <div class="ui sub header">{{::alarm.Description}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="ui main stretched container" ng-view>
        @RenderBody()
    </div>
</body>
</html>