@using System.Web.Mvc.Html
@using Microsoft.AspNet.Identity
@using TaskManager.Common.Extensions
@using TaskManager.Logic.Contracts.Enums
<!DOCTYPE html>
<html ng-app="TaskManagerApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title ng-bind="'Task Manager - ' + $root.title">Task Manager</title>
    <link rel="icon" type="image/x-icon" href="/Content/images/logo_64.png">
    @Styles.Render("~/Content/Common")
    @Scripts.Render("~/Scripts/Common")
    <style type="text/css">
        .main.menu .item img.logo {
            margin-right: 1.5em;
        }

        .main.container {
            margin-top: 5em;
        }
    </style>
    <script type="text/javascript">
        var UserId = '@IdentityExtensions1.GetUserId(User.Identity)';
        var UserName = '@User.Identity.GetUserName()';
        var TaskPriorityNames = @Html.Raw(JsonExtension.SerializeObject(EnumExtensions.EnumToDictionary<TaskPriorityEnum>()));
        var TaskStatusNames = @Html.Raw(JsonExtension.SerializeObject(EnumExtensions.EnumToDictionary<TaskStatusEnum>()));
    </script>
</head>
<body>
    @if (Request.IsAuthenticated) {
        <div class="ui fixed inverted main menu">
            <div class="ui container">
                <a ng-class="isActive('/')" href="/" class="header item">
                    <img class="logo" src="/content/images/logo_64.png">
                    Overview
                </a>
                <a ng-class="isActive('/projects')" href="/projects" class="item">Projects</a>
                <a ng-class="isActive('/company')" href="/company" class="item">Company</a>
                <div class="ui simple dropdown item">
                    Reports <i class="dropdown icon"></i>
                    <div class="menu">
                        <a ng-class="isActive('/report_single')" class="item" href="/report_single">One Day</a>
                        <a ng-class="isActive('/report_period')" class="item" href="/report_period">Period</a>
                    </div>
                </div>
                <div class="right menu">
                    <a ng-class="isActive('/profile')" class="item" href="/profile">@User.Identity.GetUserName()</a>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "item" })) {
                        @Html.AntiForgeryToken()
                        <a href="#" onclick="$('#logoutForm').submit();">Log off</a>
                    }
                </div>
            </div>
        </div>
    }

    <div class="ui main container" ng-view>
        @RenderBody()
    </div>
</body>
</html>