<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
	<meta name="author" content="Setis">
	<meta name="description" content="Task Manager is free task manager created with simplicity in mind. It's easy, simple and great for personal use and team collaboration.">
	<meta name="robots" content="index,follow">
    <title ng-bind="$root.title != null ? $root.title + ' - Task Manager' : 'Task Manager'">Best Free Task Manager 2018 - Simple and Scalable</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/Content/images/logo_64.png">

    @Styles.Render("~/Content/Common")
    @Scripts.Render("~/Scripts/Common")
</head>
@RenderBody()
@RenderSection("Content", required: false)
@RenderSection("Scripts", required: false)
</html>
<script type="text/javascript">
        var userId = null;
</script>